.assistance-container {
    padding:6rem  0 3rem 0;
    background: url("../assets/assistance-background.png") no-repeat center;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}
.assistance-container h3 {
    padding: 3rem 5rem;
}

.assistance-container img {
    width: 167px;
    height: auto;;
}

@media screen and (max-width: 960px) {
    .assistance-container h3 {
        padding: 3rem 0rem;
    }
}