.blog-container {
    padding: 3rem 0 5rem 0;
    background-color: #FAFAFA;
}

.blog-container h1 {
    color: rgba(44, 45, 46, 255);
}

.blog-container input[type=button] {
    display: block;
    margin: 1rem auto;
}

.blog-container section {
    display: inline-table;
    margin: auto;
    padding-bottom: 3rem;
    width: 100%;
    text-align: center;
}

.blog-container aside {
    background-color: #FFFFFF;
    width: 492px;
    margin: auto;
    display: inherit;
    margin: 1rem 0.5rem;
    text-align: left;
}

.blog-container section img {
    width: 492px;
    height: 320px;
    object-fit: cover;
    background-size: cover;
    color: rgba(44, 45, 46, 255);
    font-family: 'Montserrat', sans-serif;
}

.blog-container section h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    font-weight: 500;
    margin: 1.5rem 0;
}

.blog-container section p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    font-weight: 400;
}

.blog-container section span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    color: rgba(33, 199, 210, 255);
}
.blog-container section div {
    padding: 0 1.5rem 1.5rem 1.5rem;
}