.comercial-container {
    background-color: #f8f8f8;
    padding: 6rem 0;
    display: block;
}
.comercials {
    padding: 3rem;
}
.comercial-section {
    margin: 0 10rem;
}

@media screen and (min-width: 641px) and (max-width: 961px) {
    .comercial-section {
        margin: 0 10rem;
    }
}

@media screen and (max-width: 640px) {
    .comercial-section {
        margin: 0;
    }
}