.flex-row-space-btwn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

h1 {
    font-size: 40pt;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 20pt;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.button-round {
    width: auto !important;
    cursor: pointer;
    outline: none;
    margin: 1rem;
    height: 3.5rem;
    padding: 0 3rem;
    border: none;
    border-radius: 0.2rem;
    color: #FFFFFF;
    background: rgba(33, 199, 210, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12pt;
    transition: box-shadow 250ms, background-color 150ms;
    box-shadow: 0px 0 4px rgba(0, 0, 0, 0.25)
}

.button-round:hover {
    box-shadow: 0px 0 8px rgba(0, 0, 0, 0.25)
}

.button-round:active {
    background-color: #0195b0;
}
.text-input {
    border-radius: 0.2rem;
    border: 0.2rem solid #26d6df;
    background-color: transparent;
    padding: 1rem;
    height: 1.1rem;
    margin: 1rem;
    font-size: 16pt;
    text-align: left;
    color: #373737;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.text-input::placeholder {
    color: #FFFFFF;
    opacity: 1; /* Firefox */
  }


@media screen and (max-width: 640px) {
    .dynamic-width {
        width: calc(100% - 2rem);
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
    .dynamic-width {
        width: calc(100% - 6rem);
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}

@media screen and (min-width: 961px) and (max-width: 1199px) {
    .dynamic-width {
        width: calc(100% - 8rem);
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
}

@media screen and (min-width: 1200px) {
    .dynamic-width {
        width: calc(100% - 20rem);
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }
}