dialog {
    background-color: #0e647b;
    padding: 2rem 5rem;
    position: fixed;
    width: calc(100% - 10rem);
    top: calc(50% - 20rem);
    z-index: 5;
    border: none;
    display: block;
    color: #FFFFFF;
}

dialog, dialog div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

dialog input {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
}

dialog img {
    margin: 1.7rem 0 1.7rem 3rem;
    width: 2rem;
    height: 2rem;
    display: block;
    cursor: pointer;
}

dialog h1 {
    font-weight: 700;
    font-size: 20pt;
    text-align: left;
}

dialog h3 {
    font-weight: 700;
    font-size: 14pt;
    text-align: left
}
@media screen and (max-width: 1499px) {
    dialog {
        flex-direction: column;
    }
    dialog div {
        justify-content: start;
    }
    dialog img {
        right: 5rem;
        top: 2rem;
        position: absolute;
    }
}