.download-container {
    padding: 2rem 0 5rem 0;
    background-image: linear-gradient(to bottom, #21c7d2, #35d0da);
    color: #FFFFFF;
}

.download-container p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    text-align: center;
}

.download-container>section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0;
}

.download-container>section>a {
    padding: 0 0.5rem;
}

.download-container aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.download-container aside input[type=text]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFFFFF;
}

.download-container aside input[type=text]::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #FFFFFF;
}

@media screen and (max-width: 640px) {
    .download-container aside {
        flex-direction: column;
    }
}

@media screen and (max-width: 461px) {
    .download-container>section {
        flex-direction: column;
        text-align: center
    }
    .download-container>section>a {
        padding: 1rem;
    }
}