footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 12pt;
    text-decoration: none;
    color: rgba(134, 134, 134, 255);
    background-color: #FAFAFA;
    border-top: 1px solid #575757;
    padding: 1rem 0;
}
footer a {
    text-decoration: none;
    color: rgba(134, 134, 134, 255);
}

footer section span {
    padding: 0 1rem;
}

@media screen and (max-width: 460px) {
    footer {
        flex-direction: column !important;
    }
    footer > section {
        padding: 1rem 0;
        text-align: center;
    }
}