header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 3rem;
    padding: 2rem 0;
    background-color: #0587a3;
    transition: background-color 250ms;
}

.header_logo {
    height: 3rem;
    width: auto;
}

.header_logo img {
    height: 3rem;
    width: auto;
    cursor: pointer;
}

header>nav {
    padding: 0.5rem 0;
}

header>nav>a {
    padding: 0 1rem;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16pt;
    text-align: center;
}

header>div>input[type=button] {
    width: auto;
    cursor: pointer;
    height: 3rem;
    padding: 0 2rem;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    background: #FFFFFF;
    color: rgba(33, 199, 210, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12pt;
    transition: box-shadow 250ms;
}

header>div>ul {
    list-style-type: none;
    padding: 1rem;
    margin: 0;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5)
}

header>div>ul>li {
    list-style: none;
    padding: 0 0.5rem;
    background-image: none;
    background-repeat: none;
    background-position: 0;
    cursor: pointer;
}

header>div>input[type=button]:hover {
    box-shadow: 0px 0 4px rgba(0, 0, 0, 0.25)
}

.header_selected-lang {
    color: #FFFFFF !important;
}

@media screen and (max-width: 961px) {
    header>nav>a {
        font-size: 13pt !important;
    }
    .header_logo img {
        height: 2.5rem;
        width: auto;
    }
    header>div>input[type=button] {
        height: 3rem !important;
        padding: 0 1rem !important;
        font-size: 11pt !important;
    }
    header>div>ul {
        padding: 0 0.25rem;
        flex-direction: column !important;
    }
}

@media screen and (max-width: 461px) {
    header>div>input[type=button] {
        max-width: 100px;
        height: 2.5rem !important;
        padding: 0 0.5rem !important;
        font-size: 10pt !important;
    }
    header>nav>a {
        font-size: 11pt !important;
    }
    .header_logo img {
        height: 1.5rem;
    }
}