.hero-container {
    padding: 6rem 0 15rem 0;
    background-image: linear-gradient(to bottom, #0587a3, #20c3cf);
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    max-height: 1154px;
    overflow: hidden;
}

.hero-container h1 {
    font-weight: 400;
}

.hero-container h3 {
    font-weight: 300;
    font-size: 26pt;
}

.hero-container .hero-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-button-container div {
    margin: 1rem 1rem;
    cursor: pointer;
    height: 1rem;
    padding: 1.2rem 2rem;
    border-radius: 0.2rem;
    font-weight: 700;
    font-size: 12pt;
    color: rgba(33, 199, 210, 255);
    text-align: center;
    transition: box-shadow 250ms;
}

.hero-button-container div img {
    margin-left: 1rem;
}

.hero-button-container div:hover {
    box-shadow: 0px 0 8px rgba(0, 0, 0, 0.25)
}

.phone-container {
    margin: 5rem 0;
    width: 100%;
    height: 604px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: margin-top 50ms;
}

.phone-container div {
    overflow: hidden;
    position: relative;
}

.primary-phone {
    z-index: 1;
}

.phone-bg {
    z-index: 1;
    top: -562px;
    height: 476px;
    width: 257px;
    margin-left: 20px;
    overflow: hidden;
}

.phone-bg img {
    height: 100%;
    width: 200%;
}

@media screen and (max-width: 960px) {
    .hero-container .hero-button-container {
        flex-direction: column;
        width: 20rem;
        margin: auto;
    }
}