.innovation-container {
    padding: 8rem 0 6rem 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #eef1f2;
    text-align: center;
    z-index: 5;
}

.innovation-container h1 {
    font-weight: 300;
    color: rgba(44, 44, 44, 255);
}

.innovation-container p {
    font-weight: 300;
    font-size: 18pt;
    color: rgba(110, 110, 110, 255);
}