.insurance-container {
    width: 100%;
    padding: 6rem 0 30rem 0;
    position: relative;
    color: #FFFFFF;
    background-image: linear-gradient(to bottom, #172d44, #406d9f);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.insurance-container h1 {
    margin: 0;
}
.insurance-container h1 span {
    color: rgb(31, 186, 196);
    margin: 0;
}
.insurance-container section {
    padding: 5rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.insurance-container h4 {
    margin: 0;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.insurance-container img {
    width: 73px;
    height: 66px;
    object-fit: none;
}
.insurance-container aside {
    padding: 1rem;
    margin: 0 3rem;
    width: 23rem;
}
.insurance-container aside h3 {
    font-weight: 700;
    font-size: 35pt;
}

.insurance-container aside p {
    font-weight: 400;
    font-size: 16pt;
}

@media screen and (max-width: 961px) {
    .insurance-container section {
        flex-direction: column;
    }
    .insurance-container aside {
        margin: auto !important;
    }
}