.product-container {
    padding: 15rem  0 6rem 0;
    background: url("../assets/products-background.png") no-repeat center;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

.product-container h1 {
    color: rgba(44, 45, 46, 255);
}

.product-container section {
    display: inline-table;
    margin: auto;
    padding-bottom: 3rem;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.product-container aside {
    width: 382px;
    height: 382px;
    overflow: hidden;
    position: relative;
    display: inherit;
    margin: 1rem 0.75rem;
}

.product-container aside div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    text-align: center;
    padding: 1rem;
    width: calc(100% - 2rem);
    height: 100%;
}

.product-container aside h5 {
    font-weight: 500;
    font-size: 16pt;
    margin: 0;
}

.product-container aside h4 {
    font-weight: 500;
    font-size: 35pt;
    margin: 0rem 0;
}

.product-container aside p {
    font-weight: 400;
    font-size: 12pt;
    line-height: normal;
    margin: 0;
}

.product-container aside p span {
    font-size: 70pt;
}
.product-container aside input {
    height: 2.5rem;
    padding: 0 1.5rem;
    font-size: 12pt;
    margin: 0.5rem;
}

.product-container aside img {
    width: 382px;
    height: 382px;
    background-size: cover;
}
@media screen and (min-width: 641px) and (max-width: 960px) {
    .product-container {
        padding-top: 20rem;
    }
}

@media screen and (max-width: 640px) {
    .product-container {
        padding-top: 30rem;
    }
}