.review-dialog {
    background-color: #FFFFFF;
    z-index: 2;
    left: 0;
    position: absolute;
    margin-top: 12rem;
    margin-left: 10rem;
    padding: 3rem;
    width: calc(100% - 26rem);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 55rem;
    overflow: hidden;
}

.review-dialog h2 {
    font-weight: 300;
    font-size: 30pt;
    color: rgba(44, 44, 44, 255);
}

.review-dialog>span {
    width: 14px;
    height: 22px;
    display: block;
    cursor: pointer;
    margin: 9rem 1rem 0rem 1rem;
}

.review-container {
    margin: 0 5rem;
    max-width: calc(100% - 17rem);
}

.slick-prev {
    width: 15px !important;
    height: 22px !important;
    background: url("../assets/left-arrow.png") no-repeat center !important;
}
.slick-prev::before,.slick-next::before {
    content: "" !important;
    opacity: 1 !important;
}

.slick-next {
    width: 15px !important;
    height: 22px !important;
    background: url("../assets/right-arrow.png") no-repeat center !important;
}

.review-container {
    text-align: center;
}
.review-dialog p {
    margin: 1rem 0;
    color: rgba(110, 110, 110, 255);
    font-size: 18pt;
    font-weight: 400;
    margin: 0;
}

.review-container img {
    width: 110px;
    height: auto;
    display: unset !important;
    object-fit: unset;
}

.review-dialog label {
    margin: 2rem 0;
    display: block;
    font-size: 16pt;
    color: rgba(110, 110, 110, 255);
}

.review-dialog label span {
    color: rgba(33, 199, 210, 255);
}

@media screen and (min-width: 641px) and (max-width: 960px) {
    .review-dialog {
        margin-top: 7rem !important;
        margin-left: 2rem !important;
        padding: 2rem !important;
        width: calc(100% - 8rem) !important;
    }
}

@media screen and (max-width: 640px) {
    .review-dialog {
        margin-top: 3rem !important;
        margin-left: 1rem !important;
        padding: 1rem !important;
        width: calc(100% - 4rem) !important;
    }
}

.slick-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}