.sub-footer {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    background-color: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.sub-footer h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
    text-align: left;
    color: rgba(158, 158, 158, 255);
}
.sub-footer > aside {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.sub-footer_info {
    padding-bottom: 3rem !important;
}

.sub-footer_link-container {
    display: flex;
    flex-direction: column;
}

.sub-footer_link-container a {
    flex-direction: column;
    padding: 0.5rem 0;
    font-size: 16pt;
    color: rgba(44, 45, 46, 255);
    text-align: left;
}

.sub-footer_download div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-footer_download div a {
    color: rgba(33, 199, 210, 255);
    padding: 0 0.5rem;
    font-size: 14pt;
    text-align: center;
}

.sub-footer_download div a img {
    margin-top: -5px;
}

.sub-footer > .sub-footer_locale {
    text-align: left;
    flex-direction: initial !important;
}
.sub-footer > .sub-footer_locale > img {
    cursor: pointer;
}



@media screen and (min-width: 961px) {
    .sub-footer > aside {
        flex-direction: row;
    }
}

@media screen and (max-width: 960px) {
    .sub-footer > aside {
        flex-direction: column;
    }
    .sub-footer section {
        padding: 1rem 0;
    }
    .sub-footer_download div {
        flex-direction: column;
        padding: 1rem 0;
    }
    .sub-footer_download div a {
        text-align: left;
        padding: 0.5rem 0 !important;
    }
}
text-alig 0.5eft 0 !important;